
  .hk-services {
    font-family: "PT Sans", sans-serif;
    padding: 80px 0;
  }
  .hk-services-header h2 {
    color: #4a5650;
    font-size: 38px;
    font-weight: 700;
  }
  .hk-services-header p {
    color: #7a9084;
    font-size: 20px;
  }
  .hk-services-box {
    margin: 15px 0;
    padding: 60px 15px;
    transition: all 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
  }
  .hk-services-box h3 {
    color: #ffffee;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
  }

  @import url(
    https://fonts.googleapis.com/css?family=Raleway:400,
    900,
    700,
    600,
    500,
    300,
    200,
    100,
    800
  );
  
  section {
    padding: 60px 0px;
    font-family: "Raleway", sans-serif;
  }
  
  h2 {
    color: #4c4c4c;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: "Raleway", sans-serif;
  }
  
  p {
    font-size: 13px;
  }
  
  #blog {
    /*background-color: #f6f6f6;*/
  }
  
  #blog .card-block {
    padding: 10px;
  }
  
  #blog .card {
    background-color: #fff;
    border: 1px solid #eceaea;
    margin: 20px 0px;
  }
  
  .btn.btn-default {
    background-color: #485054 !important;
    color: #fff !important;
    border-radius: 0;
    border: none;
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 600;
  }

  .card-img-top {
    max-height: 215px;
    width: auto;
  }
/* 
  h5 {
  color: #ffe21c !important;
  border-bottom: 5px solid #ffe21c;
} */
#myFooter {
  background-color: #3a3f46;
  color: white;
}

#myFooter .row {
  margin-bottom: 60px;
}

#myFooter .info {
  text-align: justify;
  color: #afb0b1;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter .logo {
  margin-top: 10px;
}

#myFooter .second-bar .logo a {
  color: white;
  font-size: 28px;
  float: left;
  font-weight: bold;
  line-height: 68px;
  margin: 0;
  padding: 0;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .second-bar {
  text-align: center;
  background-color: #33373e;
  text-align: center;
}

#myFooter .second-bar a {
  font-size: 22px;
  color: #9fa3a9;
  padding: 10px;
  transition: 0.2s;
  line-height: 68px;
}

#myFooter .second-bar a:hover {
  text-decoration: none;
}

#myFooter .social-icons {
  float: right;
}

#myFooter .facebook:hover {
  color: #0077e2;
}

#myFooter .google:hover {
  color: #ef1a1a;
}

#myFooter .twitter:hover {
  color: #00aced;
}
#myFooter .social-networks a {
  font-size: 32px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.2s;
}

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center;
  }

  #myFooter .info {
    text-align: center;
  }
}