{% extends 'base.html' %}

{% block content %}
<section id="blog">
    <div class="container text-center">
        <h1>Blog</h1>
    </div>
    <div class="separator"></div>
    <div class="container">
        <div class="row justify-content-center">
            {% for post in post_list %}
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-xs-6 mx-4 mx-md-0 py-1 py-md-0">
                <div class="card text-center">
                    <img
                    class="card-img-top"
                    src="{{ post.featured_image.url }}"
                    alt=""
                    width="100%"
                    />
                    <div class="card-block">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <a class="btn btn-default" href="{% url 'blog:post' post.slug %}">Leer más</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}