{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container" >

      <div class="small-wrapper" v-else>
        <div class="text-center">
          <h1 class="post-title">{{ object.title }}</h1>
          <div class="separator"></div>
          <br />
          <img
            class="img-fluid"
            src="{{ object.featured_image.url }}"
            alt=""
          />
        </div>
        <hr />
        <!--        <span class="post-date">18 Jan 2018</span>-->
        <div class="container">
            {{ object.content | safe }}
        </div>

        <hr />
      </div>
    </div>
    <!-- /.container -->
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e34f8bcd3c5b38b"></script>
{% endblock %}