{% load static %}

<footer id="myFooter">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <img
            src="{% static 'assets/logo-sm.png' %}"
            alt=""
            style="width: 100px; height: auto; padding-top: 30px"
          />
        </div>
        <div class="col-sm-4">
          <hr>
          <ul>
            <li><h6>Álvaro Obregón 974 – 1 Centro.</h6></li>
            <li>Saltillo, Coahuila</li>
            <li>(844) 881 9829</li>
            <li>(844) 138 2427</li>
            <li>director@mazcomunicacion.com.mx</li>
          </ul>
        </div>
        <div class="col-sm-1">
          <ul>
            <h5></h5>
            <li><a href="{% url 'web:index' %}">Inicio</a></li>
            <li><a href="{% url 'blog:blog' %}">Blog</a></li>


            <li><a href="{% url 'web:contacto' %}">Contacto</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5></h5>
          <ul>
            <li><a href="/politica-privacidad">Política de privacidad</a></li>
            <li><a href="/politica-cookies">Política de cookies</a></li>
          </ul>
        </div>
        <div class="col-sm-3" style="padding-top: 30px">
          <div class="social-networks">
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
            <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
          </div>
          <a href="{% url 'web:contacto' %}"><button type="button" class="btn btn-default">Contacto</button></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center">
      <p>© {% now "Y" %} MAZ Comunicación</p>
    </div>
</footer>