{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    <link href="https://mazcomunicacion.s3-us-west-1.amazonaws.com/fonts/fonts.css" rel="stylesheet">
    {% block style %}{% endblock %}
    <style>
        body {
            font-family: Gotham;
        }
        h1, h2 {
            font-family: Gobold !important;
        }
    </style>
</head>
<body>
    {% include 'partials/nav.html' %}

    <div style="min-height: 70vh;">
        {% block content%}
        {% endblock %}
    </div>

    {% include 'partials/footer.html'%}

    <div class="alert text-center cookiealert" role="alert">
        Usamos cookies para mejorar tu experiencia. Al seguir navegando por nuestro sitio aceptas nuestra <a href="{% url 'web:cookie-policy' %}" >politíca de cookies.</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            Aceptar
        </button>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    {% block scripts %}{% endblock %}
    
</body>
</html>