{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
.jumbotron {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.45)), url("{{ banner.image.url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
</style>

{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid d-flex">
  <div class="container text-center align-self-center">
    <h1 class="text-white"><span style="color: #dcbe00;">MAZ</span> Comunicación</h1>
    <h3 class="text-white">{{ banner.sub_header }}</h3>
  </div>
</div>
<section>
    <div class="container text-center">
        <h1>Acerca de MAZ</h1>
        <div class="separator"></div>
        <h5>{{ about.description | safe}}</h5>
    </div>

    <div class="container-fluid text-center mt-5">
        <img src="{{ about.banner.url }}" alt="" class="img-fluid">
    </div>

    <section class="hk-services" id="servicios">
        <div class="container">
            <div class="row">
            <div class="col">
                <div class="hk-services-header text-center">
                <h2>
                    Servicios
                </h2>
                </div>
            </div>
            </div>
            <div class="separator"></div>
            <div class="row">
            {% for service in services %}
                <div class="col-sm-6 col-md-4" style="background-image: url({{ service.image.url }});background-size: contain;">
                    <a href="{% url 'web:servicios' service.slug %}">
                    <div class="hk-services-box text-center">
                        <h3>{{ service.title }}</h3>
                    </div>
                    </a>
                </div>
            {% endfor %}
                <div class="col-sm-6 col-md-4" style="background-image: url({{ periodicos.coahuila.image.url }});background-size: contain;">
                    <a href="{% url 'periodicos:portadas' %}">
                    <div class="hk-services-box text-center">
                        <h3>Portadas Coahuila</h3>
                    </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4" style="background-image: url({{ periodicos.mexico.image.url }});background-size: contain;">
                    <a href="{% url 'periodicos:portadas_mexico' %}">
                    <div class="hk-services-box text-center">
                        <i class="fas fa-paint-brush"></i>
                        <h3>Portadas México</h3>
                    </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4" style="background-image: url({{ periodicos.nl.image.url }});background-size: contain;">
                    <a href="{% url 'periodicos:portadas_nl' %}">
                    <div class="hk-services-box text-center">
                        <i class="fas fa-paint-brush"></i>
                        <h3>Portadas Nuevo León</h3>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="blog">
        <div class="container text-center">
            <h1>Blog</h1>
        </div>
        <div class="separator"></div>
        <div class="container">
            <div class="container">
                <div class="row">
                    {% for post in post_list %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="card text-center">
                            <img
                            class="card-img-top"
                            src="{{ post.featured_image.url }}"
                            alt=""
                            width="100%"
                            />
                            <div class="card-block">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <a class="btn btn-default" href="{% url 'blog:post' post.slug %}">Leer más</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <div class="container text-center">
        <a href="{% url 'blog:blog' %}" class="btn btn-default">Todas las entradas</a>
    </div>
</section>
{% endblock content %}

{% block scripts %}

{% endblock %}