{% extends 'base.html' %}

{% block content %}
<div class="small-wrapper">
    <div class="text-center">
      <h1 class="post-title">Política de Cookies</h1>
      <div class="separator"></div>
      <br />
    </div>

    <div class="container">
      <p>
        Nuestro sitio de internet utiliza cookies, por lo cual, el visitante
        admite que al navegar en ella dejará ese rastro que nos permitirá
        conocer la manera como ha interactuado con nuestro canal y éste le
        reconocerá cuando regrese. El uso de esta herramienta tiene el propósito
        de mejorar la experiencia del usuario en sus visitas a nuestro sitio.
      </p>

      <p>
        Nuestra página también usa herramientas para conocer datos de uso de los
        visitantes que nos permiten conocer sus preferencias o comportamiento,
        lo cual es útil para el perfeccionamiento de nuestra página y para la
        toma de decisiones dentro de nuestra estrategia de comunicación.
      </p>
    </div>
</div>
{% endblock %}