{% extends 'base.html' %}

{% block content %}
<div class="small-wrapper">
    <div class="text-center">
      <h1 class="post-title">Política de Privacidad</h1>
      <div class="separator"></div>
      <br />
    </div>

    <div class="container">
      <p>
        MAZ Comunicación y Estrategia SC desea servirte para que consigas los
        objetivos de tu empresa u organización. Para ello, necesitamos
        información. La política de privacidad garantiza que:
      </p>
      <ol>
        <li>
          La obtención de sólo la información suficiente para cumplir nuestra
          misión.
        </li>
        <li>
          El uso exclusivo de la información para los fines por los cuales fue
          obtenida
        </li>
        <li>
          No se comparte la información a personas internas ni externas no
          involucradas en nuestros procesos vinculados a tu caso.
        </li>
        <li>
          Sólo se copia o transfiere a nuestros sistemas aquella información que
          debemos administrar.
        </li>
        <li>
          Las personas implicadas en el conocimiento y uso de la información,
          son profesionales conocedores de la ley y la importancia de la
          privacidad de los datos.
        </li>
      </ol>
      <p>
        Para poder ofrecer nuestros servicios, necesitaremos dos tipos de datos:
      </p>
      <ol>
        <li>Los datos de identidad de nuestros clientes</li>
        <li>Los datos relacionados con su situación o asunto a tratar.</li>
      </ol>
      <p>
        En el primero de los casos siempre necesitaremos el nombre de personas y
        por lo menos un correo electrónico. De forma adicional, podremos
        solicitar otra información como celular de trabajo, domicilio de la
        empresa, domicilio de internet, perfiles de redes sociales y cualquier
        otro que nos permita establecer comunicación con la o las personas
        indicadas para trabajar. En ningún caso solicitaremos información de
        identidad que no necesitemos para comunicarnos. MAZ Comunicación y
        Estrategia SC rechaza toda práctica de asedio o acoso con información
        que nuestros clientes o seguidores no desean. Pensamos que el spam no
        sólo es ilegal, sino también falto de ética y por supuesto, muy molesto.
        Toda comunicación nace y se desarrolla como parte de un acuerdo mutuo de
        sostener intercambios de ideas y mensajes útiles para el cumplimiento de
        nuestros objetivos.
      </p>
      <p>
        En el segundo caso, impera la misma política de obtener sólo lo que es
        estrictamente necesario y para los fines que se hayan planteado, de
        conformidad con cada situación. Se debe advertir, sin embargo, que para
        el pleno conocimiento de una situación y el desarrollo de programas,
        acciones, estrategias, planes y demás que pudiéramos ofrecer, será
        necesario obtener información que puede llegar a ser delicada en la
        organización y amerite un alto grado de responsabilidad en su manejo.
        Nos referimos a casos como conocimiento de ventas, contraseñas,
        contratos, nóminas y otras que, por su condición durante el servicio que
        prestamos, formen parte de la información que podremos requerir.
      </p>
      <p>
        MAZ Comunicación y Estrategia SC tiene la política de clasificar la
        información por su condición de privacidad o publicidad y acordar con el
        cliente la manera como se habrá de manejar cada una de ellas de
        conformidad con su caso. Nuestros colaboradores asumen la
        responsabilidad de atender todas las cláusulas de privacidad que se
        ameriten en los contratos de prestación de servicios.
      </p>
      <p>
        El principio de suficiencia nos impone la obligación de conocer sólo lo
        necesario e impide obtener información que pueda permanecer ociosa en
        nuestras manos; además, impide que cualquier información, incluso útil,
        sea trasladada o copiada a nuestros equipos de cómputo o memorias.
        Accederemos a la información siempre que se necesite y la mantendremos
        bajo el dominio pleno y exclusivo de nuestros clientes, a menos que sea
        indispensable trasladarla a nuestros equipos.
      </p>
      <p>
        Ninguna información relativa a los asuntos de nuestros clientes
        permanece sólo bajo nuestra custodia o administración, salvo que sea
        aquella que forma parte de los procesos propios de trabajo, por lo que
        estará sólo bajo dominio nuestro de forma transitoria. En este sentido,
        nosotros sólo conservamos copias de la información, cualquiera que sea
        su formato o medio de resguardo.
      </p>
      <p>
        La información de terceras personas bajo nuestra administración y
        resguardo, se obtiene a partir del consentimiento de su propietario, de
        conformidad con procedimientos y acordados entre el propietario de la
        información y MAZ Comunicación y Estrategia SC y con el uso de
        herramientas que mutuamente consideramos seguras.
      </p>
      <p>
        MAZ Comunicación y Estrategia SC está sujeto a las leyes en materia de
        protección a la privacidad y datos personales.
      </p>
    </div>
</div>
{% endblock %}