{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="container text-center">
          <h1>{{ service.title }}</h1>
          <div class="separator"></div>
          <h4>{{ service.description }}</h4>
        </div>

        <section>
            <div class="container">
              <div class="row justify-content-center">

                  {% for subservice in service.subservicio_set.all %}
                      <div class="col-9 col-xl-3 col-lg-4 col-md-5 col-sm-6 mx-4 mx-md-0 py-1 py-md-0">
                          <div class="card">
                              <img src="{{subservice.image.url}}" class="card-img-top" alt="">
                              <div class="card-body">
                                <h5 class="card-title">{{ subservice.title }}</h5>
                                <a href="{% url 'web:servicio' service.slug subservice.slug %}" class="btn btn-default stretched-link">Ver</a>
                              </div>
                          </div>
                      </div>

                  {% endfor %}

              </div>
            </div>
        </section>
      </section>
{% endblock content %}