{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="container text-center">
          <h1>{{ service.title }}</h1>
          <div class="separator"></div>
          <h4>{{ service.description }}</h4>
        </div>

        <section>
            <div class="container">
              <div class="row">
                  {% for subservice in service.subservicio_set.all %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" data-toggle="modal">
                        {% comment %}<h1>{{ subservice.title }}</h1>{% endcomment %}
                        <a href="{% url 'web:servicio' service.slug subservice.slug %}">
                            <img
                                src="{{subservice.image.url}}"
                                alt=""
                                class="img-fluid"
                                style="margin: 1rem auto; overflow: hidden"
                            />
                        </a>
                    </div>
                  {% endfor %}


              </div>
            </div>

            {% comment %}<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="serviceModal">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">
                        Servicio 1
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-center">
                    <img
                      src="./assets/placeholder.jpg"
                      alt=""
                      class="img-fluid"
                      style="margin: 0 auto; overflow: hidden"
                    />
                    <hr>
                    <h5>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, laborum.
                    </h5>
                  </div>
                </div>
              </div>
            </div>{% endcomment %}


        </section>

      </section>
{% endblock content %}